[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytube = "*"
click = "*"
"jinja2" = "*"
pyinstaller = "*"
pudb = "*"
better-exceptions = "*"
tabulate = "*"
"e1839a8" = {path = ".", editable = true}
tqdm = "*"
"ldap3" = "*"
environs = "*"

[dev-packages]
bumpversion = "*"
ipython = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
